<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Module</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="logo">Admin Module</div>
        <div class="icons">
            <i class="notification">🔔<span class="badge">3</span></i>
            <i class="help">❓</i>
        </div>
    </div>

    <div class="sidebar">
        <ul>
            <li><a  th:href="@{/}">Dashboard</a></li>
            <li><a th:href="@{/inventory}">Inventory </a> </li>
            <li><a th:href="@{/purchase}">Purchase</a></li>
            <li class="active">Admins</li>
            <li><a th:href="@{/report}">Reports</a></li>
            <li><a th:href="@{/setting}">Profile</a></li>
        </ul>
    </div>

    <div class="main-content">
       
        <!-- Role Definition -->
        <div id="roleDefinition" class="form-container" >
            <h3>Role Definition</h3>
            <form th:action="@{/saveRole}" th:object="${role}" method="post">
                <input type="text" name="roleName" placeholder="Role Name" required>
                <h4>Permissions:</h4>
                <div>
                    <div th:each="permission : ${permissions}">
                        <label>
                            <input type="checkbox" name="permissionIDs" th:value="${permission.permissionID}">
                            <span th:text="${permission.permissionName}"></span>
                        </label>
                    </div>
                </div>
                <button type="submit">Save Role</button>
            </form>
        </div>
    </div>

    
</body>
</html>
